html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    background-color: #EEEEE0;
    display: grid;
    grid-template-columns: 0.8fr 3fr;
    /*fr é uma fração, como vai ser feita a divisão, colunas define a largura*/
    grid-template-rows: 50px auto;
    /*define a altura das linhas*/
    grid-template-areas: 
    "menu corpo"
    "menu corpo";
}

.menu{
    background-color: #4e464a;
    grid-area: menu;
}

.corpo{
    grid-area: corpo;
    margin-left: 10px;
    margin-top: 10px;
}

#insere_produto{
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 10px;
}

.botoes{
    margin-top: 90px;
}

#btn{
    color: white;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 5px;
}
#btn:hover{
    color: rgba(250, 165, 214, 0.932);
}

#btnSalvar{
    border: none;
    border-radius: 5px;
    background-color: rgba(108, 159, 255, 0.808);
}

#btnListar{
    border: none;
    border-radius: 5px;
    background-color: rgba(108, 255, 140, 0.808);
    margin-left: 10px;
}
#listar{
    color: black;
}
a:link 
{ 
 text-decoration:none; 
} 

#alinharBtn{
    margin-left: 900px;
}