body{
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    background-color: #EEEEE0;
}

#logo{
    height: 50px;
    width: 100px;
}

#name{
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

#btnLogin{
    color: black;
    margin-left: 670px;
}
#btnLogin:hover{
    color: #CD3278;
}

#btnSair{
    color: black;
    margin-left: 800px;
}
#btnSair:hover{
    color: #CD3278;
}

#btnCarrinho{
    color: black;
    margin-left: -150px;
}
#btnCarrinho:hover{
    color: #CD3278; 
}


.nav{
    background-color: white
}

.rodape{
    background-color: tomato;
}

.entrar{
    
    margin-left: 900px;
    margin-top: 10px;
    font-size: 20px;
}

#login{
    font-size: 20px;
}

#senha{
    font-size: 20px;
}

.cadastrar{
    
    margin-top: -280px;
    margin-left: 5px;
}

p{
    font-size: 14px;
    margin-left: 5px;
    color: red;
}

#input{
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

#cad{
    font-size: 20px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
}

h3{
    margin-left: 5px;
}

#btn{
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color:#FFC1C1;
    width: 260px;
}

.btn1{
    margin-top: 10px;
}

.btn2{
    margin-left: 5px;
}

