body{
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    background-color: grey;
}

#logo{
    height: 50px;
}

#name{
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

#btnLogin{
    color: black;
    margin-left: 470px;
}

#btnLogin:hover{
    color: #CD3278;
}

.nav{
    background-color: white
}