body{
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    background-color: #EEEEE0;
}

#logo{
    height: 50px;
    width: 100px;
}

#name{
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

#btnLogin{
    color: black;
    margin-left: 800px;
}
#btnLogin:hover{
    color: #CD3278;
}

#btnSair{
    color: black;
    margin-left: 930px;
}
#btnSair:hover{
    color: #CD3278;
}

#btnCarrinho{
    color: black;
    margin-left: -150px;
}
#btnCarrinho:hover{
    color: #CD3278; 
}


.nav{
    background-color: white
}

.rodape{
    background-color: tomato;
}


#login{
    font-size: 20px;
}

#senha{
    font-size: 20px;
}

.entrar{
    
    margin-left: 10px;
    /*margin-top: 10px;*/
    font-size: 20px;
    grid-area: a;
}

.cadastrar{
    
    /*margin-top: -280px;
    margin-left: 5px;*/
    grid-area: b;
}

.p{
    font-size: 14px;
    margin-left: 5px;
    color: red;
}

#input{
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

#cad{
    font-size: 20px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
}

h3{
    margin-left: 5px;
}

#btn{
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color:#FFC1C1;
    width: 260px;
}

.btn1{
    margin-top: 10px;
}

.btn2{
    margin-left: 5px;
}

#divPrincipalEntrarCadastrar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "a b";
}

#main{
    padding: 0 0 0 0%;
    display: flex;

    flex-wrap: wrap;
}

.card{
    margin: 2.5%;
}

#imagem{
    position: relative;
    left: 12%;
    top: 1%;
    border: none;
    border-radius: 2%;
}

p{
    color: black;
    font-size: 14px;
    margin-left: -0.1%;
}

#comprar{
    background-color: green;
    border: none;
    font-size: 18px;
    position: relative;
    left: 35%;
}
